article {
  padding: 20px;
  border: 1px solid #000;
  border-radius: 0.5rem;
  border-top: 5px solid #b32b2b;
  color: black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  min-width: 300px;
}

article h2 {
  padding: 16px;
  text-align: center;
  text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}

